@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

  
  
  * {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
  }
  .navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    
    border-bottom: 2px solid #f2f2f2;
    
  }
  
  .navbar .links {
    margin-left: auto;
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover {
    color: #a935f1;
  }
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }
  .main-card--cointainer {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(300px, 500px)); */
    grid-gap: 50px;
    justify-content: space-around;
  }
  .card-container {
    margin: 25px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
  }
  .card {
    background-color: #d98282;
    padding: 30px;
    position: relative;
    
    /* box-shadow: 0 0 5px rgba(75, 75, 75, 0.07); */
    /* z-index: 1; */
  }
  .button:hover{
    color: #220435;
  background-color: #f2f2f2;
    box-sizing: border-box;
  }
  .h1{
    color: #a935f1;
    margin-bottom: 20px;
    align-items: center;
    padding: 1px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    font-size: 40px;
    display: flex;
    
    
  }
  .orders{
    max-width: 400px;
    border: #a935f1;
    display: flex;
    justify-content: center;
    
  }
  .orders2{
    max-width: 400px;
    border: #a935f1;
    display: flex;
    justify-content: center;
    
  }
  .orders3{
    max-width: 600px;
    border: #a935f1;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  .orders4{
    max-width: 500px;
    border: #a935f1;
    display: flex;
    justify-content: center;
    
  }
  .orders5{
    max-width: 600px;
    border: #a935f1;
    
  }

  
  .new{
    color: #f1356d;
    
  }
  .input{
    width: 250px;
    
    border-width: 4px;
  }
  .button{
    margin-top: 80px;
     text-align: center;
     padding: 0px;
     margin: 10px;
     max-width: 180px;
     
  }
  .button h2{
    color: #f1356d;

  }
  .button h2:hover{

    cursor: pointer;
  }
 .name{
  color: #a935f1;
  text-align: center;
 }
 .order{
color: #f1356d;

 }
